/* Common Styles */
body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

/* Footer Styles */
.footer {
	background-color: #11122b;
	color: #cbcbcb;
	font-family: "Ubuntu Condensed", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-top: -5px;
}

.footer > .logo-footer img {
	width: 180px;
	height: 100%;
}